.footer-social {
	padding: 40px 15px 0;
	background: url('../images/background-track-social.jpg') repeat-x top;
	background-color: $primary;
	background-size: contain;
	&__link {
		& a {
			text-decoration: none;
			padding-bottom: .625rem;
			@include font(
				$font: $oswaldBold,
				$size: 1.25rem,
				$lh: normal,
				$ls: normal,
				$color: $white
			);
			& img {
				padding-left: .625rem;
			}
		}
	}
	&__link:not(:first-child) {
		padding-left: 2.625rem;
	}
}

@media screen and (max-width: 991px) {
	.footer-social {
		background-size: contain;
		background-color: $primary;
	}
}
@media screen and (max-width: 768px) {
	.footer-social {
		padding-top: 20px;
		&__link {
			display: flex;
			align-items: center;
			& a {
				flex-direction: column-reverse;
				font-size: .875rem;
				text-align: center;
				& img {
					padding-left: 0.425rem;
					width: 25%;
				}
			}
		}
		&__link:not(:first-child) {
			padding-left: 0.625rem;
		}
	}
}
