.footer {
	width: 100%;
	background: url('../images/background-footer.png') no-repeat center center;
	height: 25rem;
	position: relative;
	&::after {
		position: absolute;
		height: 100%;
		width: 100%;
		content: "";
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(0,15,55,1) 0%, rgba(1,23,83,.63) 15%, rgba(210,66,4,.38) 50%, rgba(1,23,83,.63) 85%, rgba(6,29,88,1) 100%);
	}
	&__cite {
		height: 8rem;
		&__title {
			z-index: 1;
			@include font(
				$font: $oswaldBold,
				$size: 1.625rem,
				$lh: normal,
				$ls: normal,
				$color: $white
			);
		}
		&__author {
			z-index: 1;
			@include font(
				$font: $bellaScript,
				$size: 3rem,
				$lh: normal,
				$ls: normal,
				$color: $white
			);
		}
	}
	&__brand {
		position: absolute;
		right: 0;
		bottom: 0;
		padding-bottom: 10%;
		padding-right: 10%;
		& p {
			z-index: 1;
			@include font(
				$font: $oswaldRegular,
				$size: 1rem,
				$lh: normal,
				$ls: normal,
				$color: #9E9E9E
			);
		}
	}

}