.track {
	@include wrapper($width: 100%);
	position: relative;
	
	&__img-track {
		position: absolute;
		top: 10.5rem;
    	right: 3.4375rem;
		height: 2000px;
	}
	@import '../../components/track-card/index.scss';

	&-details {
		padding-top: 4.375rem;
		padding-bottom: 2.5rem;
		width: 100%;
		margin: 0 auto;
		&__main {
			padding-top: .625rem;
			& p {
				flex-basis: 23%;
				text-align: center;
				@include font(
					$font: $oswaldBold,
					$size: 1.25rem,
					$lh: normal,
					$ls: normal,
					$color: #000000
				);
			}
		}
		.details-card {
			& img { height: 5.1875rem; }
			height: 13.75rem;
		}
	}
}

@media screen and (max-width: 1600px) {
    .track__img-track { 
		top: 9rem;
		right: 3.4375rem;
		height: 1900px;
	}
}
@media screen and (max-width: 1440px) {
	.track__img-track {
		top: 10rem;
		right: 3.4375rem;
		height: 75%;
	}
}
@media screen and (max-width: 1200px) {
    .track__img-track { display: none; }
}
