footer.footer.flex.flex-column.flex-ai-c.flex-jc-c
	.footer__cite.flex.flex-column.flex-jc-sb.flex-ai-c
		h3.footer__cite__title «ПУТЕШЕСТВОВАТЬ –ЗНАЧИТ ЖИТЬ»
		p.footer__cite__author Ханс Христиан Андерсен
	.footer__brand
		p ООО "Медвежья тропа" 2014-2021 год
