header.header
	//- video.header__bg-video(src="assets/images/1.mp4" autoplay loop poster="assets/images/background-header.png") 
	.header__wrapper.flex.flex-column.flex-jc-sb
		include ../components/navbar.pug
		.header__offer
			h1 ЗДРАВСТВУЙ, ДРУГ. 
			h1 ДОБРО ПОЖАЛОВАТЬ НА КАМЧАТКУ. 
			h1 ЧУВСТВУЙ СЕБЯ КАК ДОМА.
		.header__direction.flex.flex-jc-c
			img(src="assets/images/direction.png", alt="Тебя ожидает")
	img.header__bg-bottom(src="assets/images/background-header-bottom.png")