.one-day-tours {

	&__card {
		width: 100%;
	}
	&__title {
		padding-bottom: 1.5625rem;
		width: 80%;
		@include font(
			$font: $oswaldBold,
			$size: 1.625rem,
			$lh: normal,
			$ls: normal,
			$color: $primary
		);
	}
	&__main {
		width: 100%;
		background: url('../images/one-day-tours/background-text.png') no-repeat center center;
	}
	&__text {	
		padding-bottom: 1.5625rem;
		& p {
			@include font(
				$font: $oswaldRegular,
				$size: 1rem,
				$lh: normal,
				$ls: normal,
				$color: $secondary
			);
		}
		& span {
			@include font(
				$font: $oswaldRegular,
				$size: 1rem,
				$lh: normal,
				$ls: normal,
				$color: $primary
			);
		}
	}
}
.pl-13 {
	padding-left: 13.4375rem;
}
.pl-1 {
	padding-left: 1rem;
}