extends layout.pug

block content
	.container
		//- Header
		include components/header.pug
		//- One day tours section
		include one-day-tours-page/main-section.pug
		//- Footer
		include components/footer-social.pug
		include components/footer.pug