// Colors
$black: #000000;
$white: #FFFFFF;

$primary: #000F37;
$secondary: #D24204;

// Fonts
$bellaScript: 'Bella Script CYR', sans-serif;
$oswaldBold: 'Oswald Bold', sans-serif;
$oswaldRegular: 'Oswald Regular', sans-serif;
$storytella: 'Storytella', sans-serif;