.global-header {
	background: url('../images/global-header-background.png') no-repeat bottom;
	background-size: contain;
	background-color: $primary;
	padding-bottom: 40px;
	&__wrapper {
		@include wrapper($width: 100%);
	}
}
@media screen and (max-width: 1200px) {
    .global-header {
		&__wrapper {
			width: 100%;
		}
	}
}
@media screen and (max-width: 991px) {
    .global-header {
		&__wrapper {
			width: 100%;
		}
	}
}

@media screen and (max-width: 768px) {
	.global-header {
		&__wrapper {
			width: 100%;
		}
	}
}
@media screen and (max-width: 540px) {
	.global-header {
		&__wrapper {
			width: 100%;
		}
	}
}
