include ../mixins/carousel-item.pug

.carousel
	+carousel-item('assets/images/tolbachik-kluchevskaya/1.jpeg')
	+carousel-item('assets/images/tolbachik-kluchevskaya/2.jpeg')
	+carousel-item('assets/images/tolbachik-kluchevskaya/3.JPG')
	+carousel-item('assets/images/tolbachik-kluchevskaya/4.JPG')