include ../mixins/social-link.pug

.footer-social.flex.flex-jc-c.flex-ai-fe
	+social-link('assets/images/social/whatsapp.png', 'Заказать тур / Задать вопрос', 'whatsapp://send/?phone=79246853398')
	+social-link('assets/images/social/email.png', 'Написать нам на почту', 'mailto:kamchatka_bear_trail@mail.ru')
	+social-link('assets/images/social/instagram.png', 'Фото с туров в Instagram', 'https://instagram.com/bear.trail_kamchatka?igshid=17u17ez9fm8dt')
	+social-link('assets/images/social/facebook.png', 'Наша страница Facebook', 'https://www.facebook.com/profile.php?id=100063914722289')