include ../mixins/navbar-link.pug

//- Navigate
nav
	.navbar.flex.flex-jc-sb.flex-ai-c
		.navbar__logo
			img(src="assets/images/logotype.png", alt="KamchatkaBearTrail Logotype")
		ul.navbar__list.flex-jc-sb
			+navbar-link('ГЛАВНАЯ', '/')
			+navbar-link('ОДНОДНЕВНЫЕ ТУРЫ', 'one-day-tours.html')
			+navbar-link('МНОГОДНЕВНЫЕ ТУРЫ', 'multi-day-tours.html')
			+navbar-link('КОНТАКТЫ И ОТЗЫВЫ', 'contacts.html')
		#burger.burger
			.burger-button
		.navbar__contacts.flex.flex-column
			a(href="tel:+79246853398") +79246853398 ДМИТРИЙ
			a(href="tel:+79622904514") +79622904514	ЕВГЕНИЙ
		