include ../mixins/carousel-item.pug

.testis-carousel
	+testis-carousel-item('assets/images/example.jpg')
	+testis-carousel-item('assets/images/example.jpg')
	+testis-carousel-item('assets/images/example.jpg')
	+testis-carousel-item('assets/images/example.jpg')
	+testis-carousel-item('assets/images/example.jpg')
	+testis-carousel-item('assets/images/example.jpg')
	+testis-carousel-item('assets/images/example.jpg')
	+testis-carousel-item('assets/images/example.jpg')
	+testis-carousel-item('assets/images/example.jpg')