.tour-card {

	&__description {
		background-color: $primary;
		position: relative;
		
		& p {
			padding: 15px 15px 50px 15px;
			@include wrapper($width: 1170px);
			@include font(
				$font: $oswaldRegular,
				$size: 1rem,
				$lh: normal,
				$ls: normal,
				$color: $white
			);
		}
	}
	@import '__program.scss';
}