.navbar {
	margin: 0 auto;
	padding: 0 1rem;
	padding-top: 1.3125rem;
	&__list a,
	&__contacts a {
		text-decoration: none;
		text-align: right;
	}
	&__list {
		display: inline-flex;
		flex-basis: 41.28%;
		& a {
			@include font(
				$font: $oswaldRegular,
				$size: .875rem,
				$lh: normal,
				$ls: normal,
				$color: $white
			);
		}
	}
	&__contacts {
		flex-basis: 13.906%;
		& a {
			@include font(
				$font: $oswaldBold,
				$size: .875rem,
				$lh: normal,
				$ls: normal,
				$color: $white
			);
		}
	}
}
.burger {
	display: none;
	width: 30px;
	height: 25px;
	position: absolute;
	z-index: 10;
	top: 20px;
	right: 15px;
	&-button {
		position: relative;
		width: 100%;
		height: 2px;
		background-color: $white;
		&::before, &::after {
			content: '';
			width: 30px;
			height: 2px;
			background-color: $white;
			position: absolute;
		}
		&::after {
			bottom: -20px;
		}
		&::before {
			top: 10px;
		}
	}
}
.open {
	display: flex !important;
	transform: translateX(0px) !important;
}

@media screen and (max-width: 991px) {
	.navbar {
		
		&__list {
			display: flex;
			flex-direction: column;
		}
		&__contacts {
			flex-basis: 20%;
		}
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;

		&__logo {
			width: 100%;
			position: relative;
			& img {
				width: 40%;
			}
		}
		&__list {
			display: none;
			justify-content: space-evenly;
			transition: transform .3s ease-in-out;
			transform: translateX(768px);
			position: absolute;
			width: 100%;
			height: 230px;
			top: 0;
			left: 0;
			z-index: 1;
			background-color: rgba(0,15,55);
			font-size: 2rem;
			flex-direction: column;
			align-items: center;
			& li a {
				font-size: 1.5rem;
			}
		}
		&__contacts {
			flex: 50%;
			position: relative;
		}
	}
	.burger {
		display: block;
	}
}
@media screen and (max-width: 540px) {
	.navbar {
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;

		&__logo {
			flex: 90%;
			position: relative;
			& img {
				width: 80%;
			}
		}
		&__list {
			justify-content: space-evenly;
			transition: transform .3s ease-in-out;
			transform: translateX(540px);
			position: absolute;
			width: 100%;
			height: 160px;
			top: 0px;
			left: 0;
			z-index: 1;
			background-color: rgba(0,15,55);
			font-size: 2rem;
			flex-direction: column;
			align-items: center;
			& li a {
				font-size: 1.5rem;
			}
		}
		&__contacts {
			flex: 50%;
			position: relative;
		}
	}
	.burger {
		display: block;
	}
}

