.navbar {
	margin: 0 auto;
	padding: 0 1rem;
	padding-top: 1.3125rem;
	&__list a,
	&__contacts a {
		text-decoration: none;
		text-align: right;
	}
	&__list {
		display: inline-flex;
		flex-basis: 41.28%;
		& a {
			@include font(
				$font: $oswaldRegular,
				$size: .875rem,
				$lh: normal,
				$ls: normal,
				$color: $white
			);
		}
	}
	&__contacts {
		flex-basis: 12.906%;
		& a {
			@include font(
				$font: $oswaldBold,
				$size: .875rem,
				$lh: normal,
				$ls: normal,
				$color: $white
			);
		}
	}
}
@media screen and (max-width: 991px) {
	.navbar {
		
		&__list {
			display: flex;
			flex-direction: column;
		}
		&__contacts {
			flex-basis: 20%;
		}
	}
}
@media screen and (max-width: 768px) {
	.navbar {
		height: 16rem;
		flex-direction: column;
		&__logo {
			flex: 30%;
			& img {
				width: 100%;
			}
		}
		&__list {
			width: 80%;
			flex-basis: 100%;
			flex-direction: row;
		}
	}
}

@media screen and (max-width: 540px) {
	.navbar {
		height: 15rem;
	}
}