.track-card {
	// position: relative;
	&__image {
		z-index: -1;
		width: 100%;
	}
	.mountain {
		width: 100%;
		height: 100%;
	}
	&__text {
		height: 100%;
		width: 57%;
		padding-left: 125px;
		& h3 {
			height: 5rem;
			@include font(
				$font: $oswaldBold, 
				$size: 1.625rem, 
				$lh: normal, 
				$ls: normal, 
				$color: #000000
				);
		}
		& p {
			@include font(
				$font: $oswaldRegular, 
				$size: 1rem, 
				$lh: normal, 
				$ls: normal, 
				$color: #000000
				);
		}
	}
}
