include ../mixins/program-days.pug
include ../mixins/one-day-tours-card.pug

section.tour-card
	h3.page-title ТОЛБАЧИК-КЛЮЧЕВСКАЯ
	include ../components/carousel.pug
	.tour-card__description.flex.flex-ai-c
		p Этот тур позволит побывать в окружении высочайших вулканов Камчатки и увидеть последствия их извержений. Он рассчитан на изучение двух зон: 1. Зона Толбачинского дола с его лавовыми полями, вулканическими пещерами, мертвым лесом и огромным количеством шлаковых конусов. 2. Зона расположенная в районе горы копыто, на высоте 900 метров в окружении большинства вулканов ключевской группы включая и высочайший вулкан Евразии Ключевскую сопку.
		.ragged-border-bot-blue
	.tour-card__program
		h4.block-title ПРОГРАММА ТУРА
		p.block-subtitle (маршрут тура или его последовательность может быть изменена в зависимости от погоды, пожеланий группы)
		.program__container
			+program-days('ДЕНЬ 1', ['Выезд из Петропавловска-Камчатского к подножию плоского Толбачика 650 км гравийной и асфальтовой и лесной дороги. В пути 11-12 часов.', 'По пути остановка в Сокочах, и Мильково на перекус.', 'По прибытию разбиваем лагерь, встречаем закат в мертвом лесу на конусе, ужин. Время препровождение у костра.'])
			.empty
			.empty
			+program-days('ДЕНЬ 2', ['Ранний подъем. Завтрак. Восхождение на Вулкан Плоский Толбачик (3300 метров) займет световой день. Перепад высот около 2 000 метров, пройденное расстояние около 28 километров (10-15 часов).', 'Вид с вершины, если не подвела погода, потрясает, с неё открывается обзор на все остальные вулканы Ключевской группы. Это восхождение определенно стоит затраченных усилий!', 'Возвращение в лагерь ужин.'], true)
			.empty
			.empty
			+program-days('ДЕНЬ 3', ['Завтрак. Собираем лагерь. Выезд к кратеру «Звезда», образовавшегося в результате извержения 1740 года, исследование лавоотводов и каменных залов.', 'Перезд к Большому Толбачинскому трещинному извержению (БТТИ) 1976 года, восхождение на Конус Горшкова. Перепад высот 300 метров восходить 30-40 мин.', 'Выезд в Козыревск (70 км 2-3 часа) Размещение в гостевых домиках, ужин в комфорте, русская баня.'])
			.empty
			.empty
			+program-days('ДЕНЬ 4', ['Завтрак. Выезд в район горы Копыто (50 км 2-3 часа).', 'Разбиваем лагерь, перекус.', 'Выход до каньона реки Студеной, поляны эдельвейсов, и скалы «Бараний».', 'Возвращение в лагерь, ужин.'], true)
			.empty
			.empty
			+program-days('ДЕНЬ 5', ['Завтрак. Собираем лагерь. Ранний выезд в Петропавловск-Камчатский 650 км. Время в пути 13-15 часов.'])
	.one-day-tours__card.flex
		+one-day-tours-card('assets/images/in-price.png')
		.one-day-tours__main.flex.flex-column.flex-jc-c.pl-1
			+card-details('В СТОИМОСТЬ ВХОДИТ')
			+card-text-no-btn({
				'• трансфер на маршруте;' : '',
				'• услуги гида;' : '',
				'• питание согласно туру;' : '',
				'• инвентарь, кемпинговое снаряжение (треккинговые палки, палатка, спальник, каремат);' : '',
				'• страховка;' : ''})
	.one-day-tours__card.flex.flex-row-rev
		+one-day-tours-card('assets/images/with-your.png')
		.one-day-tours__main.flex.flex-column.flex-jc-c.pl-13
			+card-details('С СОБОЙ НЕОБХОДИМО ИМЕТЬ')
			+card-text-no-btn({
				'•	влагонепроницаемую куртку;' : '',
				'•	треккинговую обувь;' : '',
				'•	головной убор;' : '',
				'•	перчатки;' : '',
				'•	солнцезащитные очки;' : '',
				'•	рюкзак для личных вещей 20-30 литров;' : '',
				'•	теплые вещи;' : '',
				'•	теплые и запасные носки;' : '',
				'•	фонарь;' : '',
				'•	защитный крем от загара (средства защиты от кровососущих насекомых);' : '',
				'•	фото-видеоаппаратуру.' : ''})