extends ../layout.pug

block content
	.container
		//- Header
		include ../components/header.pug
		//- Card tour
		include main-section.pug
		//- Footer
		include ../components/footer-social.pug
		include ../components/footer.pug